/* body{
    background-color: chocolate;
} */

body{
    padding: 50px 50px;
    margin: 50px 50px;
}

li{
    float: left;
    padding-right: 100px;
}

h1{
    margin: auto 0px 50px 370px;
}

.firstRectangle{
    height: 50px;
    width: 250px;
    background-color: rgb(245, 143, 59);
}

.secondRectangle{
    height: 50px;
    width: 250px;
    background-color: rgb(255, 245, 101);
}

.thirdRectangle{
    height: 50px;
    width: 250px;
    background-color: #555;
}

ul{
    list-style-type: none;
}
